{% extends 'core/base.html' %}

{% block content %}

<!-- HEADER -->
<div class="header-section text-center">
    <h1>
    <span class="big">{{ classe }}</span>
    <span class="big"> 8 ÈME</span> Année
</h1>
</div>

<!-- MENU -->
<div class="menu-section text-center">
    <div class="row">
        <div class="col">
            <a href="https://drive.google.com/drive/folders/102CJhxTUadAZ2XoJaNH7reFND9XMFVFh" target="_blank">PROGRAMME</a>
        </div>
        <div class="col">
            <a href="https://drive.google.com/drive/folders/1mWPEWyrKG8wJ7yt4zYlDgHRPgysNb0_x" target="_blank">PROGRESSION</a>
        </div>
        <div class="col">
            <a href="https://drive.google.com/drive/folders/1pZXQaZHQbMQF_CXn3CmOuy21eQkktKcY" target="_blank">GUIDE DU PROFESSEUR</a>
        </div>
       <div class="col">
            <a href="https://drive.google.com/drive/folders/14olJZLdHzQNtAG4W4Ol1Z-MW2GF6j0__" target="_blank">AUTRES RESSOURCES</a>
        </div>
        </div>

    </div>
</div>



{% endblock %}