{% extends 'core/base.html' %}

{% block content %}

<!-- HEADER -->
<div class="header-section text-center">
    <h1>
    <span class="big">{{ classe }}</span>
    <span class="big"> 9 ÈME</span> Année
</h1>
</div>

<!-- MENU -->
<div class="menu-section text-center">
    <div class="row">
        <div class="col">
            <a href="https://drive.google.com/drive/folders/1VNpHX2s63xhAE0ZjSUcz6YPgQKutxlNs" target="_blank">PROGRAMME</a>
        </div>
        <div class="col">
            <a href="https://drive.google.com/drive/folders/1R-3H__7NZR8HO3KTorAsPg4ktMCCT0X9" target="_blank">PROGRESSION</a>
        </div>
        <div class="col">
            <a href="https://drive.google.com/drive/folders/1pWBUp4SRQ6MrAWpANZSdtXk7lQt2Aj_U" target="_blank">GUIDE DU PROFESSEUR</a>
        </div>
       <div class="col">
            <a href="https://drive.google.com/drive/folders/1WAoqvB0QVSyegvf1AF4kIUHzHtlY20Do" target="_blank">AUTRES RESSOURCES</a>
        </div>
        </div>

    </div>
</div>



{% endblock %}