{% extends 'core/base.html' %}

{% block content %}

<!-- HEADER -->
<div class="header-section text-center">
    <h1><span class="big">7</span> <span class="small">ÈME</span> Année</h1>
</div>

<!-- MENU -->
<div class="menu-section text-center">
    <div class="row">
        <div class="col">
            <a href="https://drive.google.com/drive/folders/1WB3m_zdwpZmf4RIZNUyS720dh0pymhX9" target="_blank">PROGRAMME</a>
        </div>
        <div class="col">
            <a href="https://drive.google.com/drive/folders/1sZCLAH6dSFNlF5u8A6d7j2MYl8F5stRu" target="_blank">PROGRESSION</a>
        </div>
        <div class="col">
            <a href="https://drive.google.com/drive/folders/1qyi-YJhKuIYqaEg-l-79ljBhVe6uB3Q2" target="_blank">GUIDE DU PROFESSEUR</a>
        </div>
       <div class="col">
            <a href="https://drive.google.com/drive/folders/1q3Amar0eqQOx1P2jGyYYZTE4FepRc24c" target="_blank">AUTRES RESSOURCES</a>
        </div>
        </div>

    </div>
</div>



{% endblock %}