{% extends 'core/base.html' %}

{% block content %}

<!-- HEADER -->
<div class="header-section text-center">
    <h1>
    <span class="big">{{ classe }}</span>
    <span class="small">ÈME</span> Année
</h1>
</div>

<!-- MENU -->
<div class="menu-section text-center">
    <div class="row">
        <div class="col">
            <a href="https://drive.google.com/drive/folders/1VBcQJSjnVNCKKZTOFx4hKhDygYDMHeMy" target="_blank">PROGRAMME</a>
        </div>
        <div class="col">
            <a href="https://drive.google.com/drive/folders/15d31WrN9jtuGaOY0TlIErDzxg9S0TLEh" target="_blank">PROGRESSION</a>
        </div>
        <div class="col">
            <a href="https://drive.google.com/drive/folders/1h-boRU1o2byehxPifcPWGA0Nkdi7aCJX" target="_blank">GUIDE DU PROFESSEUR</a>
        </div>
       <div class="col">
            <a href="https://drive.google.com/drive/folders/1PqBCV06gL3jGQwvrwywi3nygZqGk5x9W" target="_blank">AUTRES RESSOURCES</a>
        </div>
        </div>

    </div>
</div>



{% endblock %}